<div>
  <h2 id="page-heading" data-cy="ExpenseHeading">
    <span jhiTranslate="expenseApp.expense.home.title">Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="expenseApp.expense.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expense"
        [routerLink]="['/company-admin/expense/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="expenseApp.expense.home.createLabel"> Create a new Expense </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="expenseApp.expense.home.notFound">No expenses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="expenseApp.expense.date">Date</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.merchant">Merchant</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.paymentMethod">Payment Method</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.refNo">Ref No</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.image">Image</span></th>
          <th scope="col"><span jhiTranslate="expenseApp.expense.category">Category</span></th>
          <th scope="col" *ngIf="!isPersonal()"><span>User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; trackBy: trackId" data-cy="entityTable">
          <td>{{ expense.date }}</td>
          <td>{{ expense.merchant }}</td>
          <td>{{ expense.amount }}</td>
          <td jhiTranslate="{{ 'expenseApp.Method.' + expense.paymentMethod }}">{{ expense.paymentMethod }}</td>
          <td>{{ expense.refNo }}</td>
          <td>
            <a *ngIf="expense.image" (click)="openFile(expense.image, expense.imageContentType)">
              <img [src]="'data:' + expense.imageContentType + ';base64,' + expense.image" style="max-height: 30px" alt="expense image" />
            </a>
            <span *ngIf="expense.image">{{ expense.imageContentType }}, {{ byteSize(expense.image) }}</span>
          </td>
          <td>
            <div *ngIf="expense.category">
              <span> {{ expense.category?.name }} </span>
            </div>
          </td>
          <td *ngIf="!isPersonal()">
            <div *ngIf="expense.applicationUser">
              <span>{{ userLogins.get(expense.applicationUser?.id!) }}</span>
            </div>
          </td>
          <td *ngIf="expense.status && !isPersonal()">
            <button class="btn btn-danger btn-sm" *ngIf="!isApproved(expense.status)" (click)="nextStatus(expense)">
              Waiting for approval
            </button>
            <button class="btn btn-success btn-sm" *ngIf="isApproved(expense.status)">Approved</button>
          </td>
          <td *ngIf="expense.status && isPersonal()">
            <span class="badge badge-danger" *ngIf="!isApproved(expense.status)"> Waiting for approval </span>
            <span class="badge badge-success" *ngIf="isApproved(expense.status)">Approved</span>
          </td>
          <td class="text-right" *ngIf="!isPersonal()">
            <div class="btn-group">
              <button type="submit" [routerLink]="[expense.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
