<div>
  <h2 id="page-heading" data-cy="ApplicationUserHeading">
    <span>{{ company?.name }}'s Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <span jhiTranslate="expenseApp.applicationUser.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <div>
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Username</span></th>
          <th scope="col"><span>Role</span></th>
          <th scope="col"><span>Approver</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicationUser of applicationUsers">
          <td>
            {{ applicationUser.id }}
          </td>
          <td>
            {{ applicationUser.internalUser?.login }}
          </td>
          <td>
            {{ applicationUser.role }}
          </td>
          <td>
            {{ approverLogins.get(applicationUser.id!) }}
          </td>
          <td>
            <button class="btn btn-danger btn-sm" *ngIf="!applicationUser.internalUser?.activated" (click)="activateUser(applicationUser)">
              Deactivated
            </button>
            <button class="btn btn-success btn-sm" *ngIf="applicationUser.internalUser?.activated">Activated</button>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                *ngIf="!isAdmin(applicationUser)"
                type="submit"
                [routerLink]="['/company-admin/user', applicationUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
